name: ci

on:
  push:
    branches:
      - '**'

permissions:
  contents: read

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version-file: 'package.json'

      - uses: pnpm/action-setup@v4
        name: Install pnpm

      - name: Get pnpm store directory
        shell: bash
        run: echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV

      - uses: actions/cache@v4
        name: Setup pnpm cache
        with:
          path: ${{ env.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install dependencies
        run: pnpm install

      - name: Install Playwright browsers
        run: pnpm exec playwright install --with-deps chromium

      - name: Check fmt
        run: pnpm impl:fmt:check

      - name: Check lint
        run: pnpm impl:lint

      - name: Check lint text
        run: pnpm lint:text

      - name: Check types
        run: pnpm impl:typecheck

      - name: Check impl building
        run: pnpm impl:build

      - name: Check test
        run: pnpm impl:test

      - name: Build book
        run: pnpm build
